:root {
	--form-bg-primary: black;
}

.login-form,
.register-form {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-form form,
.register-form form {
	color: white;
	background-color: var(--form-bg-primary);

	padding: 50px 40px;
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form button,
form span {
	font-size: 1.5rem;
}

form button {
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;

	cursor: pointer;

	text-transform: uppercase;
}

form .submit-button {
	margin-top: 20px;
	background-color: #0d0d0d;
	min-width: 90px;

	font-size: 1.2rem;
	padding: 5px;

	border-radius: 8px;

	border: none;
	transition: 100ms linear;
}

form .submit-button:hover {
	background-color: #262626;
}

.inputs-wrapper {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.inputs-wrapper input {
	font-size: 1rem;
}

.register-form {
}
