@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

.card-container {
	max-width: 300px;
	min-height: 300px;
	color: #fff;

	box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.2);
	background-color: black;
	border-radius: 15px;

	font-family: "Quicksand";

	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 60% repeat(2, 20%);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: stretch;
}

.card-container img {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	padding: 5px;
}

.card-container button {
	margin-top: 10px;
	padding: 10px;
	width: 150px;
	height: 50px;

	background: none;
	border: 1px solid hsla(255, 100%, 100%, 0.4);
	border-radius: 50px;

	color: #fff;
	font-weight: 500;
	font-size: 1rem;

	cursor: pointer;
	justify-self: center;
	transition: 300ms ease-in-out;
}

.card-container button:hover {
	border: 1px solid black;
	border-radius: 0;
	padding: 5px;
	color: #000;
	background: #fff;
}

.card-details {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60% 40%;

	padding: 20px 10px;
}

.card-details h2 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-content: center;
	justify-content: space-between;
	align-items: center;
	justify-items: center;

	font-weight: 500;
}

.card-details p {
	border-top: 1px solid hsla(255, 100%, 100%, 0.4);
	padding: 5px 0 0 0;
	font-weight: 300;
	font-size: 1rem;
	overflow-wrap: break-word;
}

@media (max-width: 799px) {
	.card-container {
		max-width: 200px;
		min-height: 200px;

		display: grid;
		grid-template-columns: 200px;
		grid-template-rows: 60% repeat(2, 20%);
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: stretch;
	}

	.card-container img {
		width: 100%;
		height: 100%;
	}

	.card-container button {
		font-size: 0.6rem;
		padding: 0;
		width: 100px;
		height: 30px;
	}

	.card-details h2 {
		font-size: 1rem;
	}

	.card-details p {
		display: none;
	}
}

@media (min-width: 800px) and (max-width: 1279px) {
	.card-container {
		width: 100%;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 60% repeat(2, 20%);
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: stretch;
	}

	.card-details {
		width: 100%;
		height: 80%;

		display: grid;
		grid-template-columns: repeat(2, 48%);
		grid-template-rows: 100%;
		padding: 0;
		gap: 5px;
	}

	.card-details h2 {
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
	}

	.card-details p {
		font-size: 0.8rem;
		border: none;
		overflow-wrap: break-word;
	}
}
