.search-container {
	display: flex;
	justify-items: center;
	align-items: center;

	margin: 20px 0;
}

input {
	height: 50px;
	width: 400px;
	padding: 0 10px;

	background: none;
	background-color: #333;
	border-radius: 8px;
	border: none;

	font-size: 24px;
	color: #fff;

	outline: none;
}

input:hover {
	transition: 300ms linear;
	background-color: #444;
}

input:focus {
	transition: 0;
	outline: 2px solid lightskyblue;
}

@media (max-width: 799px) {
	input {
		max-width: 200px;
		height: 40px;
		font-size: 1rem;
	}
}

@media (min-width: 800px) and (max-width: 1279px) {
	input {
		max-width: 250px;
		height: 45px;
		font-size: 1.2rem;
	}
}
