.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 0 54px;
	color: #fff;

	max-height: 140px;
	background-color: rgba(0, 0, 0, 0.2);

	border-bottom: 1px solid #fff;
}

.page-title {
	font-size: 64px;
	cursor: pointer;
}

.page-title a {
	color: #fff;
	text-decoration: none;
}

.links {
	display: flex;
	gap: 54px;
}

.links .link {
	list-style: none;
}

.link a {
	text-decoration: none;
	font-size: 30px;
	color: #fff;
}

.form-container {
	max-height: 140px;
	height: 100%;

	display: flex;
	justify-items: center;
	align-items: center;
}

.menu {
	display: none;
}

.open-menu {
	display: none;
}

@media (max-width: 799px) {
	.navbar {
		height: 70px;
		padding: 0 30px;
	}

	.page-title {
		font-size: 2rem;
	}

	.links {
		display: none;
	}

	.menu {
		display: flex;
		height: 100%;

		justify-content: center;
		align-items: center;
	}

	.menu span {
		font-size: 1.5rem;

		width: 24px;
		height: 24px;
	}

	.menu .menu-button {
		border: none;
		background: none;

		z-index: 10;
	}

	.open-menu {
		position: absolute;
		top: 70px;
		left: -100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.2);

		width: 100%;
		height: calc(100vh - 70px);

		transition: 500ms ease-in;
	}

	.open-menu .links {
		display: none;
	}

	.open-menu[data-open="true"] {
		left: 0;

		& .links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			& .link {
				border-bottom: 1px solid #fff;
			}
		}
	}
}

@media (min-width: 800px) and (max-width: 1279px) {
	.navbar {
		height: 100px;
		padding: 0 30px;
	}

	.page-title {
		font-size: 3rem;
	}

	.menu {
		font-size: 2rem;
	}

	.links {
		display: fex;
		gap: 1.5rem;

		font-size: 0.5rem;
	}

	.links li a {
		font-size: 1.5rem;
	}

	.menu {
		display: none;
	}
}
